{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    {% if quote %}
    <p>A share of {{ quote.symbol }}({{ quote.symbol }}) costs {{ quote.price | usd }}</p>
    {% else %}
    <form method="POST" action="/quote">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    {% endif %}

{% endblock %}
